@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    padding:0;
    margin:0;
    background-color: #37382f;
}

html {
  overflow: hidden;
}

.menu {
    background-color: #0000006e;
    overflow: hidden;
  }

  .menu a {
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10% 10% 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  .menu a:hover {
    background-color: #6d6d6d;
    color: black;
  }
  
  .menu a.active {
    background-color: #37382f;
    color: white;
  }
  
  #cursor {
    position: absolute;
    pointer-events: none;
}

.title{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 60px;
  color:transparent;
  background: linear-gradient(270deg,#1e5799,#2ce0bf,#76dd2c,#dba62b,#ff1493,#1e5799);
  animation:rainbow 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

@keyframes rainbow{
  0%{background-position-x:0}
  to{background-position-x:10240px}
}

       footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #000000bd; /* Change to your desired background color */
        color: white; /* Change to your desired text color */
        text-align: center;
        padding: 5px 0;
    }

    /* Style the footer icons */
    .footer-icons {
        display: flex;
        justify-content: center;
        padding: 5px 0; /* Add some padding for spacing */
    }

    .footer-icons a {
        margin: 0 10px; /* Adjust the spacing between icons */
        filter: invert(1); /* Change to your desired icon color */
        text-decoration: none;
        transition: 0.5s;
    }

    /* Style the footer icons on hover */
    .footer-icons a:hover {
        color: #505050; /* Change to your desired hover color */
    }