@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

.opis {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#fdffde;
    font-size: 30px;
    text-align: center;
    margin: 0 70px 0 70px;
}